<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>322121757432-cmpbbm5agilbci1aa04h3u0r2q5hfsts.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.322121757432-cmpbbm5agilbci1aa04h3u0r2q5hfsts</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>322121757432-h7iaum1rga0hchka1c539hfu0jsqvpe4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCfH2GDinqf-bxZ-2VlRhF-HpMIrfu0HCg</string>
	<key>GCM_SENDER_ID</key>
	<string>322121757432</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mayank.tracker.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>tracker-f088e</string>
	<key>STORAGE_BUCKET</key>
	<string>tracker-f088e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:322121757432:ios:d1e6b11ccd7fded07dc10d</string>
</dict>
</plist>